:root {
    --clr-black-100--: #050505;
    --clr-black-75--: #1F1F1F;
    --clr-black-50--: #2D2D2D;
    --clr-black-25--: #3A3A3A;
    --clr-grey-75--: #757575;
    --clr-grey-50--: #E9E9E9;
    --clr-grey-25--: #F4F4F4;
    --clr-white-100--: #FFFFFF;
    --clr-purple--: #A445ED;
    --clr-red--: #FF5252;
    --head-l-size--: 64px;
    --head-l-line-height--: 77px;
    --head-m-size--: 24px;
    --head-m-line-height--: 29px;
    --head-s-size--: 20px;
    --head-s-line-height--: 24px;
    --body-m-size--: 18px;
    --body-m-line-height--: 24px;
    --body-s-size--: 14px;
    --body-s-line-height--: 17px;
}

.dark_theme {
    --clr-black-100--: #FFFFFFFF;
    --clr-black-75--: #757575;
    --clr-black-50--: #E9E9E9;
    --clr-black-25--: #F4F4F4;
    --clr-white-100--: #141625;
    --clr-grey-75--: #FFFFFF;
    --clr-grey-25--: #19202D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
}

body {
    max-width: 800px;
    margin: 48px auto 0 auto;
    font-family: 'Inter';
    background-color: var(--clr-white-100--);
}

#allcontent {
    display: none;
    max-width: 800px;
    margin: 0 auto;
}

#default {
    display: block;
}

#error {
    display: none;
}

#errormsg {
    display: none;
    color: var(--clr-purple--);
    margin-top: -36px;
    padding-left: 12px;
}

#sourceUrl:link {
    color: var(--clr-purple--);
}

#sourceUrl:visited {
    color: var(--clr-black-100--);
}

#sourceUrl:hover {
    color: #cc8aff;
}

#sourceUrl:active {
    color: #780bcc;
}

.sans {
    font-family: 'Inter';
}

.serif {
    font-family: 'Lora';
}

.mono {
    font-family: 'Space Mono';
}

.content {
    padding: 0 5%;
    max-width: 800px;
}

h1 {
    font-size: var(--head-l-size--);
    line-height: var(--head-l-line-height--);
    font-weight: 700;
    color: var(--clr-black-100--);
}

h2 {
    font-size: var(--head-m-size--);
    line-height: var(--head-m-line-height--);
    color: var(--clr-black-100--);
}

h3 {
    font-size: var(--head-s-size--);
    line-height: var(--head-s-line-height--);
    color: var(--clr-black-100--);
}

p {
    font-size: var(--body-m-size--);
    line-height: var(--body-m-line-height--);
    color: var(--clr-black-100--);
}

ul li {
    font-size: var(--body-m-size--);
    line-height: var(--body-m-line-height--);
    margin-bottom: 12px;
    padding-left: 48px;
    list-style-type: none;
    color: var(--clr-black-100--);
}

ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--clr-purple--);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1rem;
    /* Also needed for space (tweak if needed) */
    margin-left: -1rem;
    /* Also needed for space (tweak if needed) */
    position: relative;
    left: -12px;
}

.noun h2,
.verb h2 {
    font-weight: 700;
    font-style: italic;
    color: var(--clr-black-100--);
}

.verb p {
    padding-left: 48px;
    color: var(--clr-black-100--);
}

.noun,
.verb {
    margin-top: 40px;
    margin-bottom: 40px;
}

hr {
    border: 1px solid var(--clr-grey-25--);
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 8px;
}

#meaning {
    margin-bottom: 25px;
    color: var(--clr-black-100--);
}

.noun ul {
    margin-bottom: 40px;
}

.verb ul {
    margin-bottom: 12px;
}

.word h2,
#synonyms {
    color: var(--clr-purple--);
}

#synonyms {
    font-weight: 400;
}

form input {
    font-size: var(--head-s-size--);
    line-height: var(--head-s-line-height--);
    font-weight: 700;
    color: var(--clr-black-100--);
}

.grey {
    color: var(--clr-black-100--)
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    background-color: var(--clr-grey-25--);
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    border-radius: 16px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--clr-grey-25--);
    height: 64px;
    padding: 20px 24px;
    border-radius: 16px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 40px;
}

.synonyms {
    display: flex;
    gap: 22px;
    color: var(--clr-black-100--);
}

.source {
    display: flex;
    gap: 20px;
    text-decoration: underline;
}

.source p,
.source a {
    font-size: var(--body-s-size--);
}

.logo img {
    width: 32px;
}

.theme-icon img {
    width: 20px;
    margin-left: 16px;
}

.sound img {
    width: 75px;
    cursor: pointer;
}

.search-icon img {
    width: 16px;
    margin-right: 24px;
    cursor: pointer;
}

.source img {
    width: 12px;
    margin-left: 6px;
}

.source {
    margin-bottom: 24px;
}

#source-hr {
    margin-bottom: 24px;
}

/* Rounded Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--clr-purple--);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--clr-purple--);
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: var(--clr-white-100--);
    color: var(--clr-black-100--);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 124px;
    white-space: nowrap;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-white-100--);
    outline: 1px solid var(--clr-purple--);
    min-width: 150px;
    z-index: 1;
    cursor: pointer;
    border-radius: 16px;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: var(--clr-black-100--);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
    color: var(--clr-purple--);
    border-radius: 16px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--clr-white-100--);
}

.dropbtn {
    font-weight: 700;
    font-size: 18px;
}

.dropdown-content p {
    font-weight: 700;
    font-size: 18px;
}

.search input::placeholder {
    font-weight: 400;
}

form button {
    outline: none;
    border: none;
    background-color: var(--clr-purple--);
    margin: 0px 10px 0 0px;
    width: 120px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

form button:active {
    background-color: #cc8aff;
}

form button p {
    color: var(--clr-white-100--);
    font-weight: 700;
}

@media screen and (width <=500px) {
    h1 {
        font-size: 32px;
        line-height: 1;
    }

    .dropbtn {
        width: 90px;
        padding: 8px;
    }

    .sound img {
        width: 48px;
    }

    #errormsg {
        margin-top: -16px;
    }

    .search input::placeholder {
        font-size: 16px;
    }

    .noun,
    .verb {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    hr {
        margin-bottom: 32px;
    }

    .noun ul {
        margin-bottom: 32px;
    }

    .title {
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .search {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    body {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    #meaning {
        margin-bottom: 17px;
    }

    .source {
        flex-direction: column;
        gap: 0px;
    }

    .theme-icon img {
        margin-left: 16px;
    }

    .switch {
        margin-left: 16px;
    }

    .search {
        height: 60px;
    }

    .search input {
        height: 60px;
    }

    form input {
        font-size: 16px;
    }

    p {
        font-size: 15px;
    }

    ul li {
        font-size: 15px;
    }

    select {
        font-size: 15px;
    }

    #meaning {
        font-size: 16px;
    }

    .synonyms h3 {
        font-size: 16px;
    }

    h2 {
        font-size: var(--body-m-size--);
    }

    .logo img {
        width: 28px;
    }

    .dropbtn {
        font-size: 14px;
    }

    .dropdown-content p {
        font-size: 14px;
    }

    form button {
        margin: 0px 10px 0 0px;
        width: 110px;
        height: 48px;
        border-radius: 10px;
    }
}